@import '_reset';
@import '_mixins';

/*=====================================*/

$bg-purple:purple;
$brown:#A69B91;
$ball-bg:#F9F7F4;
$yellow:#FFF5B2;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "微软雅黑","Microsoft YaHei",Tahoma,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}

.bg-purple {
	background-color: $bg-purple;
}
.bg-brown{
	background-color: $brown;
}
.text-white {
	color: #fff;
}
.text-center{
	text-align: center;
}
.border {
	border: 1px solid $brown;
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}
.bets-title{
	font-size: .8rem;
	font-weight: 900;
}
.bets-wrap {
	cursor: pointer;
	&.active{
		background-color: $yellow;
		.bets{
			&.ball{
				color:darken(red,10%);
				background-color: $yellow;
			}
		}
	}
	.bets{
		font-size: .8rem;
		font-weight: 900;
		border-left:none;
		border-top:none;
	}
	.bets:first-child {
		flex-basis: 40%;
	}
	.bets:last-child {
		flex-basis: 60%;
	}
	.bets{
		&.ball{
			background-image: url('../images/ball.png');
			background-color: $ball-bg;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 28px;
		}
	}
}